<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	
	<!-- reference css file -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
<div class="row justify-content-center">
	Hello World!!
	<br><br>
	
	Student name: <span th:text="${param.studentName}" />


	<br><br>
	
	I want to tell you: <span th:text="${message}" />

	<!--  
	<p th:text="'Time on the server is' + ${theDate}" class="font-weight-bold">
	-->
</div>
</div>
</body>








</html>